 <h1>WELOME TO ONLINE SHOPPING</h1>
  <%= link_to "Sign up", new_customer1_registration_path, :class => 'navbar-link'  %> <br>
  <%= link_to "Login", new_customer1_session_path, :class => 'navbar-link'  %><br>
  <%= link_to "Add items", new_item_url, :class => 'navbar-link'  %>