<p>
  <strong>SERIAL NUMBER:</strong>
  <%= @item.serial_no %>
</p>
<p>
  <strong>NAME</strong>
  <%= @item.name %>
</p>

<p>
  <strong>COST:</strong>
  <%= @item.cost %>
</p> 
<p>
  <strong>STOCK:</strong>
  <%= @item.stock %>
</p>	