
<p>
  <strong>CUSTOMER:</strong>
  <%= @customer.name %>
</p>
 
<p>
  <strong>DATE OF BIRTH:</strong>
  <%= @customer.dob %>
</p>
<p>
  <strong>ADDRESS</strong>
  <%= @customer.address %>
</p>
 
<p>
  <strong>PHONE:</strong>
  <%= @customer.phone %>
</p>